/* FOGLIO DI STILE */

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

/* body {
  border: 2px solid black;
} */


/* STILE DI NAVIGAZIONE */

header{
  border: 2px solid green;
}

nav{
  border: 2px solid rgb(174, 214, 39);
  height: 100px;
  width: 100%;
  position: fixed;
  display: block;
  background-color: grey;
}

#logo {
  display: block;
  width: 80px;
  margin-left: 20px;
}

#menu {
    position: absolute;
    top: 50%;
    left: 450px;
    transform: translate(-50%,-50%);
}

#menu li {
  border: 2px solid red;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}






/* main {
  margin-top: 110px;
}





.container{
  display: none;
  width: 100%;
  height: 500px;
  border: 2px solid red;
  display: block;
  background-repeat: no-repeat;
  background-size: 100%;
}

#bayonne {
  background-image: url(../img/bayonne.jpg);
}

#keelogues {
  background-image: url(../img/Keelogues.jpg);
}

#limassol {
  background-image: url(../img/limassol.jpg);
} */
