/* FOGLIO DI STILE */

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

/* STILE DI NAVIGAZIONE */

body{
  background-color: rgb(70, 133, 153);
}

header{
  background-color: rgb(90,149,181);
  top:0;
  left:0;
  height: 100px;
  width: 100%;
  position: fixed;
  display: block;
  z-index: 2;
  border-bottom: 2px solid #ff5a5f;
  box-sizing: content-box;
  padding-bottom: 10px;

  }


#logo {
  display: block;
  width: 80px;
  margin-left: 20px;
  margin-top: 10px;
}

#menu {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
}

#menu li {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:normal;
}

li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 20px;
}

/* STILE IN PAGINA */

main {
  margin-top: 150px;
}

.container{
  margin-top: 10px;
  width: 100%;
  height: 500px;
  display: block;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}

.overlay{
  opacity: 0.6;
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: 100%;
  }
#bayonne {
  background-image: url(../img/bayonne.jpg);

}

#keelogues {
  background-image: url(../img/Keelogues.jpg);

}

#limassol {
  background-image: url(../img/limassol.jpg);

}


.luogo {
  position: absolute;
  width: 30%;
  height: 30%;
  border: 4px solid black;
  top:50%;
  left: 50%;
  transform:translate(-50%,-50%);
}

.luogo h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 100px;
}

.container .luogo h2 {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
}

article:hover #bayonne {
  opacity: 1;
  cursor: pointer;
}

article:hover #keelogues {
  opacity: 1;
  cursor: pointer;
}

article:hover #limassol {
  opacity: 1;
  cursor: pointer;
}
